.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0 auto;
}

.new-status-container {
    background: #e7e7e7;
    width: max-content;
    padding: 8px 14px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}



/* texts */

.text {
    font-size: 70px;
}

.text-primary {
    color: #94d83c;
}

/* buttons */

.btn {
    width: 220px;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 14px;
}

.btn-primary {
    background: #94d83c;
    color: black;
}

.btn-primary:hover {
    opacity: 0.8;
}

.btn-light {
    background: #e7e7e7;
    color: #000;
}

.btn-light:hover {
    background: #f7f7f7;
}

/* Circle */

.status-circle {
    width: 20px;
    height: 20px;
    background: #94d83c;
    border-radius: 50px;
}

/* prices */


